ol,
  ul {
    list-style: none;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  li,
  img,
  label,
  input {
    vertical-align: middle;
  }

  body,
  h1,
  h2,
  h3,
  p,
  dl,
  dd,
  ol,
  ul,
  th,
  td,
  form,
  fieldset,
  input,
  button,
  textarea {
    margin: 0;
    padding: 0;
  }

  .headerNav {
    /* display: inline-block; */
    z-index: 1;
  }

  .back,
  .pullDown {
    width: 3em;
    height: 3em;
    display: inline-block;
    position: absolute;
    z-index: 1;
  }

  .back {
    top: 1.5em;
    left: 1.5em;
  }

  .back>img,
  .pullDown>img {
    width: 100%;
  }

  .pullDown {
    top: 1.5em;
    right: 1.5em;
  }

  .NavPopup {
    display: none;
    position: absolute;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    width: 7.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    box-sizing: border-box;

  }

  .NavPopup li {
    width: 100%;
    height: 2.9em;

  }

  .NavPopup li a {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavPopup li a img {
    width: 20% !important;
    margin-right: 0.8rem;
    min-width: 0 !important;
  }

  .NavPopup li a span {
    display: inline-block;
    width: 80%;
    text-align: left;
    color: rgb(126, 126, 126);
    font-size: 1.2em;
  }

  .message img,
  .collect img {
    transform: scale(1.2);
  }

  .header {
    display: none;
    position: fixed;
    top: 0rem;
    left: 0px;
    height: 4em !important;
    background-color: #fff;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search-w {
    background: rgb(255, 255, 255);
    border: none;
    display: flex
  }

  .header .left {
    margin-left: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .right {
    margin-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 20%; */
    min-width: 3%;
  }

  .pdt-desc {
    margin-bottom: 1px;
    position: relative;
  }

  .pdt-desc {
    font-size: 18px;
    background: #fff;
    line-height: 1.5;
    padding: 10px 1rem;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .pdt-desc .pdt-title {
    color: rgb(25, 25, 25);
    font-weight: bold;
  }

  .bds_more {
    background-image: url(https://shop-soa-static.nubia.com/images/newVersion/share.png);
    background-size: contain;
    color: #333;
    line-height: 16px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }

  .pdt-details {
    display: inline-block;
    width: 100%;
    font-size: 15px !important;
    margin: 0.4rem 0 0.8rem 0;
    font-family: "agency fb";
  }

  .pdt-details * {
    font-size: 15px !important;
    font-family: "agency fb";
  }

  .mui-content .pdt-price {
    font-size: 1.3rem;
    display: inline-block;
    width: 100%;
    font-family: 'Gotham-Medium';
  }

  .seletGroup {
    width: 100%;
    display: inline-block;
    background: #fff;
    margin: 0.3rem 0;
    padding: 0rem 1rem;
  }

  .promo-sell {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 1.5rem 0px;
  }

  .promo-sell .title {
    width: 15%;
    font-size: 0.9rem;
    color: rgb(134, 134, 134);
  }

  .promo-info {
    width: 85%;
    display: inline-block;
  }

  .promo-info p {
    width: 100%;
    margin-bottom: 0.4rem;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .wrap-txt {
    margin-right: 0.75rem;
    color: rgb(255, 94, 94);
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(255, 94, 94);
    background: white;
    font-size: 0.9rem;
  }

  .promo-info p span {
    display: inline-block;
    width: 75%;
    font-size: 0.9rem;
  }

  .seleted {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 0px;
  }

  .seletedTitle,
  .addressTitle {
    width: 15%;
    font-size: 0.9rem;
    color: rgb(134, 134, 134);
  }

  .open-selet,
  .open-address {
    width: 5%;
  }

  .address {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 0px;
    background: #fff;
    border-top: 1px solid rgb(238, 238, 238);
  }

  .addressInfo {
    width: 80%;
    display: inline-block;
  }

  #cityResult {
    font-size: 0.9rem;
    color: rgb(57, 57, 57);
  }

  .address .status {
    margin-top: 0.3rem;
    font-size: 0.85rem;
    padding-right: 2rem;
  }

  .address .status .expressprefix {
    color: rgb(255, 94, 94);
  }

  .address .status .expresstime {
    color: rgb(120, 120, 120);
  }

  .recommend-pdt {
    background: #fff;
    line-height: 1.5;
    padding: 1.7rem 1rem;
    height: auto;
    overflow: hidden;
    margin-bottom: 0.3rem;
  }

  .recommend-pdt-title {
    font-size: 1rem;
    color: rgb(25, 25, 25);
  }

  .slider-div {
    margin-top: 1rem;
  }

  .recommend-pdt ul {
    overflow-x: auto;
    display: -webkit-box;
  }

  .recommend-pdt ul li {
    width: 49%;
    height: 15rem;
    margin-right: 5px;
    text-align: center;
    background: #F8F8F8;
    padding: 1rem 1rem 0rem 1rem;
  }

  .recommend-pdt ul li a {
    background-color: #fff;
    display: block;
  }

  .recommend-pdt ul li .prodectName {
    font-size: 1rem;
    color: rgb(50, 50, 50);
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-align: center;
    margin-top: 0.3rem;
    font-family: "Gotham-book";
  }

  .recommend-pdt ul li .prodectPrice {
    margin-top: 0.5rem;
    color: rgb(255, 94, 94);
    font-size: 1rem;
    text-align: center;
    font-family: "Gotham-book";
  }

  .recommend-pdt img {
    width: 100%;
    background: rgb(248, 248, 248);
  }

  .wap_content {
    padding-bottom: 0px !important;
    padding-top: 3rem;
    position: relative;
    text-align: center;
  }

  .wap_content_title {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: #fff;
    color: #000;
    width: 100%;
  }

  .wap_content_guding {
    position: fixed;
    top: 4em;
  }

  .wap_content_title>a.active {
    color: #ff4d4d;
    border-bottom: 1px solid #ff4d4d;
  }

  .wap_content_title>a {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 1rem;
    color: #000;
    border-bottom: 1px solid #ccc;
  }

  #slider_info img {
    width: 100%;
  }

  .wap_content img {
    width: 100%;
    max-width: 750px;
  }

  .btn-group {
    height: 50px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    background: #fff;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid rgb(230, 230, 230);
  }

  .btn-group .btn-group-action {
    width: 44% !important;
    float: left;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
  }

  #btn-kefu,
  #btn-collect,
  #btn-shopCar {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(156, 156, 156);
    font-size: 0.7rem;
    padding-top: 0.4rem;
    position: relative;
  }

  .btn-group-action img {
    width: 45%;
  }

  .btn-group .btn-group-result {
    width: 56% !important;
    float: right;
    height: 100%;
  }

  #btn-addtocart {
    margin-top: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    color: rgb(70, 70, 70);
    background-color: #F8F8F8;
    float: left;
    margin-left: 0;
    font-size: 0.95rem;
  }

  #btn-buy {
    width: 50%;
    float: left;
    height: 100%;
    background: rgb(255, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #btn-buy a {
    font-size: 0.95rem;
    line-height: 50px;
    color: white;
  }

  .toTop {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    display: none;
  }

  .seletModal {
    width: 100%;
    height: 85%;
    display: none;
    background: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    z-index: 1000;
    overflow: auto;
    padding-bottom: 5rem;
  }
  .seletedMask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.6);
    display: none;
}
  .seletedHeader,
  .seletedContent {
    padding: 0rem 1.2rem;
    background: white;
    width: 100%;
  }
.seletedHeaderMain {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(232,232,232);
    padding: 0.3rem 0;
}
.seletedPhone {
    width: 30%;
}
.seletedHeaderInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.selected {
  border: 1px solid rgb(255,94,94)!important;
  color: rgb(50,50,50)!important;
}
.seletedPrice {
    font-size: /* 0.8rem; */ 1.1rem;
    color: rgb(255,94,94);
    margin-bottom: 0.25rem;
}
.seletedName {
    font-size: 0.85rem;
    color: #666666;
}
.close img {
    width: 100%;
}
.pdt-params {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 1.6rem;
    overflow: auto;
}
.pdt-params .colorWrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.pdt-params>p, .pdt-suit>p {
    font-size: 0.85rem;
    color: #666666;
    margin-bottom: 0.6rem;
}
.pdt-params .colorWrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.spec div {
    padding: 0.3rem 0.7rem;
}
.question {
  width: 6%;
  margin-bottom: 0.1rem;
}
.colorWrap div {
    padding: 0.3rem 1.85rem;
    border: 1px solid rgb(230,230,230);
    color: rgb(50,50,50);
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    min-width: 30%;
}
.noShock {
    color: rgb(50,50,50)!important;
    text-decoration: line-through;
}
.pdt-suit {
    background-color: #fff;
}
.pdt-suit {
    margin-top: 1.6rem;
}
.pdt-params>p, .pdt-suit>p ,.hbtitle{
    font-size: 0.85rem;
    color: #666666;
    margin-bottom: 0.6rem;
}
.suit-list>li.color {
    border: 1px solid #ef460f !important;
}
.pdt-suit-tit, .suit-list>li {
    padding-left: 12px !important;
}
.pdt-suit-li {
    border-radius: 0.2rem;
    border: 1px solid rgb(240,240,240) !important;
    padding: 0.3rem 1em !important;
    margin-bottom: 10px;
    width: 100%;
}
.pdt-ywb .yanbao .pdt-ywb-div,.hb li {
    border-radius: .2rem;
    width: 100%;
    padding: 0.3rem 1em;
    margin: 0 !important;
    margin-bottom: 6px !important;
}
.pdt-ywb-div {
    border: 1px solid rgb(230,230,230);
    display: inline-block;
    padding: .2em 1.8em;
    margin: 1em 0;
    text-align: center;
    float: left;
    margin-right: .7em;
}
.hb .pdt-ywb-name {
    float: left;
    font-size: 0.7rem;
}
.pdt-ywb .yanbao .pdt-ywb-div>p {
  font-size: 0.7rem !important;
  text-align: left;
  float: left;
}
.pdt-ywb-name {
  color: rgb(50,50,50);
}
.pdt-ywb .yanbao .pdt-ywb-div .pdt-ywb-price {
  float: right;
}
.pdt-ywb .yanbao .pdt-ywb-div>p {
  font-size: 0.7rem !important;
  text-align: left;
}
.pdt-ywb-price {
  color: rgb(160,160,160);
}
.hb .pdt-ywb-price {
  float: right;
  font-size: 0.7rem;
}
.pdt-ywb .active {
  border: 1px solid rgb(255,94,94);
}
.num {
    float: left;
    width: 35%;
    height: 2.4rem;
    border: 1px solid rgb(230,230,230);
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.num div {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30,30,30);
    font-size: 1rem;
}
.num div img {
    width: 45%;
}
.buyLimit {
    margin-left: 10px;
    color: rgb(100,100,100);
    font-size: 14px;
    line-height: 40px;
}
.seledBtnGroup {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
}