.page-index{padding-bottom: 52px; max-width: 720px; margin:0 auto; font-family:"Microsoft Yahei","微软雅黑",Arial,Helvetica,sans-serif;}

.header-index.new-index{border-bottom: none; background: #282828;}
.header-index .tit {box-shadow: 0px 6px 10px rgba(0,0,0,.4);}
.header-index .left {top: 0px;}
.header-index .left .home{display: table-cell; padding-top:0;padding-bottom: 0;height: 5em; vertical-align: middle; }
.header-index .left .home span{width: 8em;}
.header-index .right{height: 5em; line-height: 5em; width: 6.5em; text-align: center; background: #e0523a; margin-right: 1em; padding: 0;}
.header-index .right a.login{color: #fff;  display: block; font-size: 0.8125rem;}
.header-index .right a.login .icon{font-size:1rem; margin-top: -5px; display: inline-block; vertical-align: middle;}
.header-index .right a.login-in .icon{font-size: 1.45rem; line-height: 2.6em;}
.page-index .card-nomb{overflow: hidden;}
.owl-theme .owl-controls{margin-bottom: 10px;}
.owl-carousel .item img{max-width: 100%;}
.owl-theme .owl-dots .owl-dot{box-sizing:border-box; vertical-align: middle;}
.owl-theme .owl-dots .owl-dot span{width: 8px; height: 8px; background: #777; margin:0 7px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{width:6px; height:6px;border: 2px solid #ee5e4f;}

.page-index .card .row1 .imgurl { height: auto; min-height: auto }
.page-index .card .row2 .imgurl { height: auto; min-height: auto }

.page-index .card .col2{border-top: 2px solid #fff; border-bottom: 2px solid #fff;}
.page-index .card .col2 .row1, .page-index .card .col2 .row2,.page-index .card .col2 .rows{
    border-left: 0;
}
.page-index .card .col2 .rows{border-left: 2px solid #fff;}

.page-index .list.new-list{margin: 0;}
.page-index .list .head{text-align:left; padding: 0 2em; background: #fff; border-bottom: none;}
.page-index .list .head span{font-size: 1.25rem;}
.page-index .list .photobar{margin-bottom: 2px;}
.page-index .list .photobar:last-of-type{margin-bottom: 0;}
.page-index .list .photobar img{max-width: 100%;}
.page-index .list .list-cell .p{max-width: 100%;}
.page-index .list .list-cell .cell:first-child{border-right:2px solid #fff;}
.page-index .list .list-cell .cell{background: #f4f3ef; border-bottom: 2px solid #fff; position: relative;}
.page-index .list .list-cell .hot-mall{position:absolute; left: 3px; top: 3px; width: 3.8em; height: 3.8em; text-align: center;}
.page-index .list .list-cell .hot-mall:before,
.page-index .list .list-cell .hot-mall:after{
    position: absolute; content: " "; background: #ee5e4f;  border-radius:100%; z-index: 0;
}
.page-index .list .list-cell .hot-mall:before{left:0px;top: 0px; width: 3.8em; height: 3.8em;}
.page-index .list .list-cell .hot-mall:after{width: 0.8em; height: 0.8em; top: 3.6em; left: 3.2em;}
.wapforindexstyle{font-weight: bold; font-size: 13px; width: 38px !important; transform: translate(-50%, -50%);}
.page-index .list .list-cell .imgurl{width: auto; padding: 0.5em 0;margin-bottom: 0;}
.page-index .list .list-cell a{padding-top: 2em; padding-bottom: 5em;}
.page-index .list .list-cell .cell-text{line-height:20px; font-size: 0.8125rem;}
.page-index .list .list-cell .cell-text span{display: block;}
.page-index .list .list-cell .cell-text .phone-name{color: #000; font-size: 0.875rem;}
.page-index .list .list-cell .phone-tip{color: #555;}
.page-index .list .list-cell .phone-price{color: #ef4f3d;  width: 100%; position: absolute; bottom: 2em; text-align: center;}
.page-index .list .list-cell .phone-price span{display:inline-block; font-weight: bold; font-size: 1rem;}
.page-index .list .list-cell .phone-price .line{color: #777; font-weight: bold;}
.page-index .list .list-cell .price-cancel{color: #777; text-decoration: line-through;}

.imgurl img {
    width:auto;
    max-width: 100%;
}

#show_big .imgurl{padding: 0;}
#show_big .row1:last-child{border-top:2px solid #fff;}
#show_big a {padding:0;}

@media only screen and (max-width:350px) and (min-width:320px) {
    html{font-size: 14px;}
}
.page-index .more{background: #f4f3ef; color:#f35b4e}
.page-index .more a span{color:#f35b4e}

.btn-tabs{position: fixed; display:none; z-index: 999; bottom: 0; background: #f4f3ef; height: 52px; width: 100%; max-width: 720px; margin:0 auto;}
.btn-tabs{display: flex; display: -webkit-flex; font-size: .8125rem;}
.btn-tabs a{flex: 1; text-align: center; color: #666; padding-top: 5px; line-height: 20px;}
.btn-tabs a:first-child{color: #f05d4b;}
.btn-tabs a span{display: block; font-size: 1.65rem;}

.bg{background: #f4f3f1;}
.news-list{margin: 0.5rem auto 0; max-width:720px;}
.news-list a{color: #000;}
.news-list p a{color: #777;}
.news-section{background: #fff; margin-bottom: 0.8rem;}
.news-section img{max-width: 100%; max-height: inherit;}
.news-wrap{padding: 0.5rem 1.15rem; box-sizing: border-box;}
.news-wrap h3{font-size: 16px; padding: 1.25rem 0;text-align: left!important;}
.news-wrap .news-wrap-info{color: #777; font-size: 14px; line-height: 26px;}
.news-wrap .news-wrap-tips{color: #999; margin:1rem 0 0.5rem; text-align: right; font-size: 12px;}
.news-wrap p.news-wrap-tips.info-tips{margin: 0.5rem 0 2.5rem 0!important;}
.news-wrap .news-wrap-tips span{padding-right: 8px; height: 18px; line-height: 18px; display: inline-block;}
/* .news-wrap .news-wrap-tips .user-icon{background: url(../images/user-icon.jpg) left center no-repeat; padding-left: 22px;} */

.dropload{text-align: center; margin-bottom: 6px; font-size: 0.875rem; color: #333;}
.dropload img{width: 24px; display: inline-block; margin-right: 8px; vertical-align: middle;}
