#app {
  background: white;
}

.show_big {
  background: #eee;
  padding: 6px 0;
}

.show_big .row2 {
  width: 50%;
}

.show_big .row2 img {
  width: auto;
  max-width: 100%;
}

.show_big .rows {
  width: 50%;
  padding-left: 4px;
}

#show_big .row1:first-child {
  border: 0;
  padding-bottom: 4px;
}

.imgurl img {
  width: 100%;
}

.show_big .row1 img {
  width: auto;
  max-width: 100%;
}

.card .col2 {
  display: -webkit-box;
}

.list .head {
  text-align: left;
  padding: 0 2em;
  background: #fff;
  border-bottom: none;
  line-height: 3.2em;
}

.list .head span {
  font-size: 1.25rem;
}

.list .photobar {
  margin-bottom: 0;
  width: 100%;

}

.list .photobar img {
  max-width: 100%;
}

.list .row {
  display: flex;
  flex-wrap: wrap;
}

.list .list-cell {
  margin-top: 6px;
}

.list .list-cell .cell {
  border: 2px solid white;
  vertical-align: top;
  width: 50%;
  text-align: center;
}

.list .list-cell .cell-text span.phone-name {
  color: #000 !important;
  font-size: 16px;
  font-weight: 700;
  font-family: "inherit";
}
.list .list-cell .cell-text span:last-child {
  color: #8e8d8d !important;
  display: block;
}
.list .list-cell .cell-text {
  line-height: 20px;
  font-size: 0.8125rem;
}
.list .list-cell .price-cancel {
  color: #777;
  text-decoration: line-through;
}
.more {
  background: #fff;
  border-bottom: 6px solid #eee;
}
.more a {
  display: block;
  padding: 1.7em 0;
  text-align: center;
}
.more a span {
  color: #8e8d8d;
}